{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "> 0.5%",
            "last 3 versions",
            "safari >= 7",
            "Firefox ESR",
            "not dead"
          ]
        }
      }
    ]
  ],
  "plugins": ["transform-object-rest-spread"]
}

